<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff9b;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .details-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            margin: 20px;
        }
        h1 {
            color: #b8930f;
            font-family: 'Roboto Slab', serif;
        }
        p {
            color: #333;
            font-size: medium;
            margin: 5px 0;
        }

        
    </style>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>

</head>
<body>

    

    <div class="details-box">
        <h1>Review Details</h1>
        <p>Review ID: <%= reviewDetails.ReviewID %></p>
        <p>Restaurant Name: <%= reviewDetails.RestName %></p>
        <p>Street Address: <%= reviewDetails.StreetAddress %></p>
        <p>First Name: <%= reviewDetails.FirstName %></p>
        <p>Dessert Name: <%= reviewDetails.DessertName %></p>
        <p>Description: <%= reviewDetails.Description %></p>
        <p>Stars given: <%= reviewDetails.Stars %></p>
        <p>Price: $<%= reviewDetails.Price %></p>
        <p>Is it Dairy-Free? <%= reviewDetails.DairyFree === 'Y' ? 'Yes' : 'No' %></p>
        <p>Is it Gluten-Free? <%= reviewDetails.GlutenFree === 'Y' ? 'Yes' : 'No' %></p>
    </div>

    <br>
    <button onclick="goBack()">Go Back</button>
    
</body>
</html>